/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  height: 100vh;
  background: rgb(30, 31, 25);
  background: rgb(129, 156, 159);
  background: linear-gradient(
    0deg,
    rgba(129, 156, 159, 1) 15%,
    rgba(34, 42, 63, 1) 79%
  );
  position: relative;
}

/*Main*/
:root {
  --main-color: #222a3f;
  --second-color: #91aeb2;
  --third-color: #d7d6e6;
  --font-color: #fff;
}
.container {
  max-width: 1280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

/*Flex*/
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

/*Header*/
nav {
  background-color: var(--main-color);
}
.nav {
  min-height: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.d3 {
  background: var(--second-color);
  width: 40%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--second-color);
}
.d3:hover {
  border: 2px solid var(--third-color);
}
.d3 input,
.d3 button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.d3 button {
  transition: 1s;
}
.d3 button:hover {
  transform: scale(1.1);
}
.d3 input {
  width: 100%;
  font-size: 18px;
}
.d3 input::placeholder {
  color: var(--font-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.d3 input:focus {
  color: var(--font-color);
}
.logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  color: var(--font-color);
  text-decoration: none;
}

/*Main*/
.title {
  margin-top: 40px;
}

.line {
  height: 2px;
  position: absolute;
  background-color: var(--third-color);
  width: 100%;
  left: 0;
  margin-top: 20px;
}

/*Footer*/
.page-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  text-align: center;
}

@media (max-width: 550px) {
  .container {
    max-width: 100%;
  }
  .flex {
    flex-direction: column;
  }
  .d3 {
    width: 100%;
  }
  .logo {
    margin-bottom: 20px;
  }
  .title {
    text-align: center;
  }
} ;
